root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{cpp,rs}]
charset = utf-8
indent-style = tab
indent-size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
