[submodule "advent-of-code/2015-rs"]
	path = advent-of-code/2015-rs
	url = git@github.com:j1nxie/aoc-rs-2015
[submodule "advent-of-code/2016-rs"]
	path = advent-of-code/2016-rs
	url = git@github.com:j1nxie/aoc-rs-2016
[submodule "advent-of-code/2020-rs"]
	path = advent-of-code/2020-rs
	url = git@github.com:j1nxie/aoc-rs-2020
[submodule "advent-of-code/2022-rs"]
	path = advent-of-code/2022-rs
	url = git@github.com:j1nxie/aoc-rs-2022
[submodule "advent-of-code/2022-gbdk"]
	path = advent-of-code/2022-gbdk
	url = git@github.com:j1nxie/aoc-gbdk-2022
[submodule "usth/software-engineering"]
	path = usth/software-engineering
	url = git@github.com:j1nxie/software-engineering
